<div class="container">
    <div class="display-4 text-white mb-3">
        Seja bem vindo<br>ao Seller Manager!
    </div>

    <div class="card text-bg-dark border-light" style="max-width: 18rem;">
        <div class="card-header">
            Gerencie
        </div>
        <div class="card-body">
            <h5 class="card-title">Rápido e Fácil!</h5>
            <p class="card-text">Possuimos um total de {{sellers.length}} vendedores registrados!</p>
            <a class="btn btn-primary" routerLink="/sellers">Checar!</a>
        </div>
    </div>
</div>
