<app-seller-form *ngIf="showForm" [seller]="seller" (saveEmitter)="save($event)"></app-seller-form>
<div *ngIf="!showForm" class="container p-3 text-white">
  <div class="row">
    <div class="col-6">
      <div class="display-5">
        Vendedores cadastrados
      </div>
    </div>
    <div class="col-1 align-self-end">
      <button type="button" (click)="newSeller()" class="btn btn-primary">
        <i class="bi bi-plus-lg"></i>
      </button>
    </div>
  </div>

  <table class="table table-dark">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nome</th>
        <th scope="col" class="d-none d-sm-table-cell">Salário</th>
        <th scope="col" class="d-none d-md-table-cell">Bonificação</th>
        <th scope="col" class="d-none d-md-table-cell">Gênero</th>
        <th scope="col">Opções</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let seller of sellers">
        <th scope="row">{{seller.id}}</th>
        <td>{{seller.name}}</td>
        <td class="d-none d-sm-table-cell">{{seller.salary | currency: 'BRL'}}</td>
        <td class="d-none d-md-table-cell">{{seller.bonus}}%</td>
        <td class="d-none d-md-table-cell">
          <span *ngIf="!seller.gender" class="badge text-bg-primary">
            <i class="bi bi-gender-male"></i>
          </span>
          <span *ngIf="seller.gender" class="badge text-bg-danger">
            <i class="bi bi-gender-female"></i>
          </span>
        </td>
        <td>
          <button type="button" (click)="edit(seller)" class="btn btn-primary me-sm-1">
            <i class="bi bi-pencil-square"></i>
          </button>
          <button type="button" (click)="delete(deleteModal, seller)" class="btn btn-danger">
            <i class="bi bi-trash-fill"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<ng-template #deleteModal let-modal>
	<div class="text-bg-dark">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Deletar {{deleteSeller.name}}</h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.close()"></button>
    </div>
    <div class="modal-body">
      <p>Deseja deletar o(a) vendedor(a) {{deleteSeller.name}} de Id #{{deleteSeller.id}}</p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-danger" (click)="modal.close(true)">Deletar</button>
      <button type="button" class="btn btn-outline-secondary" (click)="modal.close()">Cancelar</button>
    </div>
  </div>
</ng-template>
